body {
    background-color: #35393f;
    font-family: 'Markazi Text', serif;
    color: #ECEBEB;
    font-size: 25px; 
    margin: 0; 
    padding: 0;
    height: 100%;
}
#masterhead {
    padding-bottom: 10%;
}

.carousel {
      position: relative;
      height: 250px;
}

.carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
}
main {
    margin: 20px; 
    display: flex;
}

h3 {
    margin-top: 10px;
    margin-bottom: 0px; 
}
.navigation-bar {
    height: 80px;
    background-color: #4e535c
}

.carousel-inner > .item {
      position: relative;
      display: none;
      height: 250px;
      background-color: #777;
    -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
     position: absolute;
     top: 0;
     left: 0;
     min-width: 100%;
     height: 100%;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.controlsBlock {
     position: relative;
     bottom: 0;
     left: 0;
     top: 10px;
     display: block;
     width: 177px;
     margin: 0 auto;
     z-index: 1;
     height: 24px;
     text-align: center;
}

.controls {
     position: relative;
     display: block;
}

.carousel-control {
    position: absolute;
    top: 25.5px;
    bottom: 0;
    left: 0;
    background: #000000;
    font-size: 5px;
    background: none !important;
    color: #000 !important;
    text-align: center;
}

.carousel-control i {
      font-size: 20px;
}

.carousel-control.left {
    left: 0;
}

.carousel-control.right {
    right: 0;
    
}

.carousel-control:hover,
.carousel-control:focus {
    color: #000;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    z-index: 5;
    display: inline-block;
}

.carousel-control .glyphicon-chevron-left {
    left: 0;
}

.carousel-control .glyphicon-chevron-right {
    right: 0;
}

.carousel-indicators {
    position: relative;
    bottom: 0;
    left: 50%;
    z-index: 15;
    width: 60%;
    top: 10px;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}


.carousel-indicators li {
    display: inline-block;
     zoom: 1;
     width: 10px;
     height: 10px;
     margin: 0 2px;
     background: transparent;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     border: 3px solid transparent;
     -webkit-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
     -moz-box-shadow: rgba(0,0,0,0.5) 0 0 2px;
     box-shadow: rgba(0,0,0,0.5) 0 0 2px;
     cursor: pointer;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0;
    background-color: #000000;
}


.carousel-caption .btn {
    text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel {
      height: 500px;
  }

  .carousel-inner > .item {
      height: 500px;
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 500px;
  }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
          
          font-size: 15px;
    }

    .carousel-caption {
          right: 20%;
          left: 20%;
          padding-bottom: 30px;
    }

    .carousel-indicators {
          bottom: .0;
    }
}

.logo-text {
    margin-left: 22%;
    margin-top: 1%;
}
.logo {
    position:absolute;
    z-index: 1;
}
.infocontainer {
    display: flex; 
    justify-content: center; 
}

.text-container {
}

.imagesPartTwo {

}

.candle {
    border: solid #8E7D61; 
}
.braceletrain {
    border: solid #8E7D61;
    margin-top: 20px; 
}
.wrap-image {
    width: 100%;
}
.gold {
    color: #8E7D61;
    text-shadow: -1px 0 black; 
}

.breadText {
    font-size: 18px; 
    margin-top: 5px; 
}

.shopImage {
    width: 150px; 
    border: solid 1px #8E7D61;
}

.shop {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    justify-content: space-between;
    width: 100%; 
}

.shoprow1 {
    margin-right: 3px; 
}

.shoprow2 {
    margin-left: 3px; 
}


.buyButton {
    font-size: 24px; 
    background-color:#8E7D61;
    color: black; 
    width: 50%; 
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}

.productName {
    font-size: 24px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.itemSquare {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; 
    margin-top: 10px; 

}

.infoBox {
    margin-top: 20px;
    font-size: 24px; 
    border:solid #8E7D61;
    width: 100%;  
    display: flex;
    justify-content: right;
    color:#8E7D61;
}

.infoBoxText {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-right: 5px; 
}

.part3 {
    margin-top: 60px; 
}

.rifleCar {
    border: solid #8E7D61;
}

@media only screen and (min-width: 800px) {
    body {
        font-size: 40px; 
    }

    main {
        margin-left: 100px; 
        margin-right: 100px; 
    }

    .shopImage {
        width: 300px; 
        border: solid 1px #8E7D61;
    }

    .candle {
        margin-right: 10px;
    }

    .braceletrain {
        margin-left: 10px;
        margin-top: 0px; 
    }

    .shop {
        display: flex; 
        width: 100%; 
        align-self: ;

    }

    .shoprow1 {
        display: flex;
        margin-right: 0px; 
    }
    
    .shoprow2 {
        display: flex;
        margin-left: 0px; 
    }

    .itemSquare {
        margin: 10px; 
    }

    .infoBox {
        margin-top: 20px;
        font-size: 25px; 
        border:solid #8E7D61;
        width: 30%; 
        display: flex;
        justify-content: center;
        color:#8E7D61;
    }

    .infoBox1 {
        margin-top: 20px;
        font-size: 25px; 
        width: 20%; 
        display: flex;
        justify-content: center;
        border: solid#8E7D61;
        color: #8E7D61;
        align-self: center;
    }
    
    .infoBoxText {
        padding: 10px; 
        margin-top: 0px; 
        margin-bottom: 0px; 
        margin-right: 5px; 
    }

    .infoBoxText1 {
        padding: 10px; 
        margin-top: 0px; 
        margin-bottom: 0px; 
        margin-right: 5px; 
    }

    .text-container1 {
        font-size: 40px; 
    }

    .text-container2 {
        font-size: 40px; 
        display: flex; 
        justify-content: center; 
        margin-top: 20px; 

    }
    .text-container3 {
        font-size: 40px; 
        margin: 40px;
    }
    
    .breadText {
        font-size: 25px; 
    }

    .part3 {
        display: flex; 
        justify-content: space-between;

    }
  

    .rifleCar {
        border: solid #8E7D61;
        width: 200%; 
    }

    .gold {
        text-align: center;
        margin-bottom: 40px; 
    }

    .golddiv {
        margin-top: 50px; 
    }

    .imagesPartTwo {
        display: flex; 
    
    }


  


  } 
