body {
    background-color: #35393f;
    font-family: 'Markazi Text', serif;
    color: #ECEBEB;
    font-size: 25px; 
}

main {
    margin: 20px; 
}

.navigation-bar {
    height: 80px;
    background-color: #4e535c
}
.logo {
    
}
.jumbotron {
    width: 100%; 
}

.wrap-image {
    width: 100%; 

}

.text-container {
}

.candle {
    border: solid #8E7D61;
}

.gold {
    color: #8E7D61;
    text-shadow: -1px 0 black;
}

.breadText {
    font-size: 18px; 
}

.shopImage {
    width: 150px; 
    border: solid 1px #8E7D61;
}

.shop {
    display: flex; 
<<<<<<< Updated upstream
=======
    flex-direction: row; 
    justify-content: center;
}

.shoprow1 {
    margin-right: 10px; 
}

.shoprow2 {
    margin-left: 10px; 
}


.buyButton {
    font-size: 18px; 
    background-color:#8E7D61;
    color: black; 
    width: 50%; 
    display: flex;
    justify-content: center;
    
}

.productName {
    font-size: 18px; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}

.itemSquare {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; 
    margin-top: 10px; 

}

.infoBox {
    margin-top: 20px;
    font-size: 18px; 
    background-color:#8E7D61;
    width: 100%; 
    display: flex;
    justify-content: right;
    color: black;
}

.infoBoxText {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-right: 5px; 
}

.rifleCar {
    border: solid #8E7D61;
    margin-top: 60px;
>>>>>>> Stashed changes
}